/* CSS reset*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page Style*/
body {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center;
}

header h1 {
	margin: 0;
	font-size: 42px;
	margin-left: 125px;
}

th:nth-child(1) {
	padding-left:100px;
}

th {
	font-weight: bold;
	font-size: 21px;
	padding: 25px 10px 25px 10px;
}

td:nth-child(1) {
	padding-left: 100px;
}

td {
	padding: 10px;
}

table.striped + br + a {
	margin: 15px 0 0 100px;
	font-weight: bold;
	width: 150px;
}

a#delete {
	margin: 15px 0 0 5px;
	font-weight: bold;
	width: 150px;	
} 

.flex {
	display: flex;
}

#add-user-form {
	margin: 25px 0;
}

#add-user-form + a {
	margin-left: 125px;
	width: 125px;
	font-weight: bold;
}

#add-user-form + a + a {
	width: 125px;
	font-weight: bold;
}

.button-group {
	margin-left: 125px;
}

/*Materialize css alterations*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #7E57C2;
  -webkit-box-shadow: 0 1px 0 0 #7E57C2;
          box-shadow: 0 1px 0 0 #7E57C2;
}